

 .slider-wrapper{
   width: 1100px;
   height: 100px;

 }





.services{
    margin-top: 93px;
}
.row img{
    width: 247px;
    height: 180px;
}
.customer img {
    width: 86px;
    height: 72px;
 
    display: inlie-block;
}
.container.logoo {
    height: 66px;
}
                                /*====================small device====================  */

@media(max-width:590px){
.banner-top{
     margin-top:25%;
}
.container.logoo {
    width: 52%;
}
.qualified-text{
    margin-top:11% ;
  }
  .navnar-m{
    width:57%;
  }
  .service-card{
    position: relative;
    
   
    
}
.service-card img {
    width: 58%;
}
.service-card-under{
     position: absolute;
    
    
     left:66%;

}

.product-card{
    position: relative;
}

.card-body.productss {
    position: absolute;
    left: 64%;
}
                                
                                
                                
                                
}

















                    /* ======================medium device====================== */
@media(min-width:576px) and (max-width:768px){
  .qualified-text{
    margin-top:100px ;
  }
   .service-card{
    position: relative;
    
   
    
}
.service-card-under{
     position: absolute;
     position: absolute;
     top:19%;
     left:50%;

}
.product-card{
      
    display: flex;
    align-items: center;

}

.team-card{
    position: relative;


}
.team-card div{
    position: absolute;
    top:0;
    left: 55%;
}
.logoo img{

    height:107%;
}
.banner-top{
   margin-top: 45px;
}

.position-absolute{
    position: absolute;
    top: 50%;
    left: 41%;
    right: 0;
    bottom: -90%;


}

    
}



.position-absolute{

    top: 20%!important;
   


}